

<div class = 'container'>
    <div class = 'row'>
        <nav class="navbar navbar-light">
          <a class="navbar-brand" href="#">
            <img src="../assets/bamboo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            멋쟁이 사자처럼 대나무숲
          </a>
        </nav>
    </div>
    
    <div class = 'content mt-5 text-center'>
        <div class = 'row'>
            <div class = 'col offset-3'>
                <div class = 'banner'>
                    <h3>말 못할 고민을 서로 고민을 나누고<br>
                    문제를 함께 토론하고 고민하고<br>
                    같이 울고 웃을 수 있는 글을 공유해요!</h3>
                </div>
            </div>
        </div>
        
        <div class = 'col mt-5'>
            <% @posts.each do |post| %>
            <h3><%= post.title %></h3> <a href = "/posts/show/<%= post.id %>"><button type="button" class="btn btn-outline-success">보기</button></a>
            
            <%end%>
        </div>
                
        <div class = 'post_new mt-5'>
            <a href = "/posts/new"><img src="../assets/bamboo-hat.png" width="30" height="30" alt=""></a>
            <p>새 글 작성하기</p>
        </div>
    </div>
</div>