<div class = 'container mt-5'>
   <div class = 'new_content'> 
        <h1>작성하기</h1>
        <form action = '/posts/create' method="POST">
            <p>제목</p>
            <input type = "text" name = "title">
            <p>내용</p>
            <input type = "text" name = "content">
            <p><br>
            <button type="submit" class="btn btn-outline-success">제출</button>
            </p>
        </form>
    </div>
</div>    